.Sidebar {
  position: sticky;
  height: 100vh;
  top: 0;
  flex: none;
  width: 200px;
  background-color: #edf2ef;
  color: black;
  border-right-width: 2px;
  border-right-style: solid;
  border-image: radial-gradient(rgb(0, 0, 0), rgb(245, 245, 245)) 1;
  padding: 2rem 1rem;
  & h3 {
    color: #471323a8;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
}

.Sidebar a {
  display: flex;
  text-decoration: none;
}

.Sidebar hr {
  width: 50%;
}

.Sidebar-checkbox {
  padding: 2rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  gap: 0.5em;
}

.Sidebar-info {
  margin-top: 70%;
  a {
    padding: 10px;
    font-weight: bold;
  }
}

.Sidebar button {
  width: 50%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Sidebar button:hover {
  background-color: #45a049;
}

.Sidebar button:active {
  background-color: red;
}
.Sidebar button.clicked {
  transform: rotate(45deg);
}
