.Footer {
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  margin: 0;
}

.Footer p {
  margin: 0;
  padding: 8px;
  font-size: 1rem;
  font-weight: 300;
}

.Footer a {
  color: dodgerblue;
  text-decoration: none;
}
